@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Define custom font variations */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900; /* Black */
  src: url('/fonts/ProductSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/ProductSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('/fonts/ProductSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100; /* Thin */
  src: url('/fonts/ProductSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700; /* Bold Italic */
  src: url('/fonts/ProductSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900; /* Black Italic */
  src: url('/fonts/ProductSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300; /* Light Italic */
  src: url('/fonts/ProductSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500; /* Medium Italic */
  src: url('/fonts/ProductSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100; /* Thin Italic */
  src: url('/fonts/ProductSans-ThinItalic.ttf') format('truetype');
}
}

:root {
  --primary-50: #eff6ff;
  --primary-100: #dce9fd;
  --primary-200: #c0d9fd;
  --primary-300: #95c2fb;
  --primary-400: #63a1f7;
  --primary-500: #3e7ef3;
  --primary-600: #285ee8;
  --primary-700: #204ad4;
  --primary-800: #203dad;
  --primary-900: #203888;
  --primary-950: #182453;

  --secondary-50: #fefde8;
  --secondary-100: #fffbc2;
  --secondary-200: #fff588;
  --secondary-300: #ffe644;
  --secondary-400: #fed511;
  --secondary-500: #fac404;
  --secondary-600: #ce9000;
  --secondary-700: #a46704;
  --secondary-800: #87500c;
  --secondary-900: #734110;
  --secondary-950: #432105;

  --bg: #000000;
  --gary: #1a1a1a;
  --gray1: #333333;
  --gary2: #6B6B6B;
  --gary3: #D9D9D9;
  --white: #ffffff;
  --current: currentColor;
  --transparent: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-50: #eff6ff;
    --primary-100: #dce9fd;
    --primary-200: #c0d9fd;
    --primary-300: #95c2fb;
    --primary-400: #63a1f7;
    --primary-500: #3e7ef3;
    --primary-600: #285ee8;
    --primary-700: #204ad4;
    --primary-800: #203dad;
    --primary-900: #203888;
    --primary-950: #182453;

    --secondary-50: #fefde8;
    --secondary-100: #fffbc2;
    --secondary-200: #fff588;
    --secondary-300: #ffe644;
    --secondary-400: #fed511;
    --secondary-500: #fac404;
    --secondary-600: #ce9000;
    --secondary-700: #a46704;
    --secondary-800: #87500c;
    --secondary-900: #734110;
    --secondary-950: #432105;

    --bg: #000000;
    --gary: #1a1a1a;
    --gray1: #333333;
    --gary2: #6B6B6B;
    --gary3: #D9D9D9;
    --white: #ffffff;
    --current: currentColor;
    --transparent: transparent;
}
}


*::-webkit-scrollbar{
  display: none;
}

body {
  color: white;
  background-color: var(--bg) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
