@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Define custom font variations */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 900; /* Black */
  src: url('/fonts/ProductSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/ProductSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('/fonts/ProductSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100; /* Thin */
  src: url('/fonts/ProductSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 700; /* Bold Italic */
  src: url('/fonts/ProductSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 900; /* Black Italic */
  src: url('/fonts/ProductSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 300; /* Light Italic */
  src: url('/fonts/ProductSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 500; /* Medium Italic */
  src: url('/fonts/ProductSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100; /* Thin Italic */
  src: url('/fonts/ProductSans-ThinItalic.ttf') format('truetype');
}
}

:root {
  --zprimary-50: #eff6ff;
  --zprimary-100: #dce9fd;
  --zprimary-200: #c0d9fd;
  --zprimary-300: #95c2fb;
  --zprimary-400: #63a1f7;
  --zprimary-500: #3e7ef3;
  --zprimary-600: #285ee8;
  --zprimary-700: #204ad4;
  --zprimary-800: #203dad;
  --zprimary-900: #203888;
  --zprimary-950: #182453;

  --zsecondary-50: #fefde8;
  --zsecondary-100: #fffbc2;
  --zsecondary-200: #fff588;
  --zsecondary-300: #ffe644;
  --zsecondary-400: #fed511;
  --zsecondary-500: #fac404;
  --zsecondary-600: #ce9000;
  --zsecondary-700: #a46704;
  --zsecondary-800: #87500c;
  --zsecondary-900: #734110;
  --zsecondary-950: #432105;

  --zbg: #121212;
  --zgary: #252525;
  --zgray1: #333333;
  --zgary2: #6B6B6B;
  --zgary3: #D9D9D9;
  --zwhite: #ffffff;
  --zcurrent: currentColor;
  --ztransparent: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --zprimary-50: #eff6ff;
    --zprimary-100: #dce9fd;
    --zprimary-200: #c0d9fd;
    --zprimary-300: #95c2fb;
    --zprimary-400: #63a1f7;
    --zprimary-500: #3e7ef3;
    --zprimary-600: #285ee8;
    --zprimary-700: #204ad4;
    --zprimary-800: #203dad;
    --zprimary-900: #203888;
    --zprimary-950: #182453;

    --zsecondary-50: #fefde8;
    --zsecondary-100: #fffbc2;
    --zsecondary-200: #fff588;
    --zsecondary-300: #ffe644;
    --zsecondary-400: #fed511;
    --zsecondary-500: #fac404;
    --zsecondary-600: #ce9000;
    --zsecondary-700: #a46704;
    --zsecondary-800: #87500c;
    --zsecondary-900: #734110;
    --zsecondary-950: #432105;

    --zbg: #000000;
    --zgary: #1a1a1a;
    --zgray1: #333333;
    --zgary2: #6B6B6B;
    --zgary3: #D9D9D9;
    --zwhite: #ffffff;
    --zcurrent: currentColor;
    --ztransparent: transparent;
}
}

*{
  font-family: "Product Sans", sans-serif;
  font-weight: 500;
  transition: all .3s;
}
*::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Product Sans", sans-serif!important;
  color: white;
  background-color: var(--zbg) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
